/* This version of golem still requires non-empty files in 'www' in order
to properly run the app. So, here's a placeholder file. */
hr {
  border-top: 2px solid grey;
}

.navbar .navbar-nav {
  float: right;
}

#analysis_ui_1-gfpopOutput_verbose {
  overflow-x: scroll; 
  max-width: 100%;
  background: ghostwhite;
}
